.footer {
    width: 100%;
    height: 390px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.footer-circle {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/bg.jpg");
    background-position: bottom;
    background-size: 100%;
    opacity: 0.5;
    clip-path: circle(33% at bottom right);
    transition: 0.8s ease-in-out;
    display: block;
}

.footer-circle:hover {
    opacity: 1;
}

.modale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    text-align: center;
    flex-direction: column;
}

dialog[open] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

dialog::backdrop {
    background-color: rgba(0, 30, 0, 0.7);

}

dialog:modal {
    position: relative;
    inset-block-start: auto;
    inset-block-end: auto;
    width: 65%;
    min-height: 45%;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    opacity: .8;
    background: #000;
    color: $white-dark;
    font-size: .8rem;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modalTitle {
    font-weight: 600;
    letter-spacing: .1rem;
}

#modalDialog p {
    margin: 05px;
}

@media screen and (max-width: 880px) {
    .footer-circle {
        display: none;
    }

    .footer {
        width: 100%;
        display: flex;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(3, 58, 21, 0.1), #385029), url("./assets/images/bg.jpg");
        background-position: right;
        border-top: 2px solid;
        align-items: center;
        justify-content: center;
        bottom: 0;
        top: left;
    }

    .footer h3 {
        padding: 10px;
        color: $white-normal;
        font-size: 14px;
    }
}