@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


a {
    text-decoration: none;
    color: $green-normal;
    font-weight: 600;
}

article {
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

#item-this {
    position: absolute;
    right: 0;
    top: 0;
    text-align: end;
    width: 100%;
    height: 100%;
    background-color: $green-light;
    opacity: .9;
    z-index: -1;
    overflow: hidden;
}

#itema-this:not(:target),
#itema-this:not(:hover) {
    overflow: hidden;
}

#itemk-this:hover {
    overflow: visible;
    opacity: 1;
}

#item-this:target {
    opacity: 1;
    overflow: visible;
}