* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  background-size: 100% 150px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(40, 82, 1, 0.315), rgba(2, 85, 13, 0.6784313725));
  background: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), rgba(6, 18, 30, 0.7529411765));
  background-color: #06121e;
  height: 100vh;
  width: 100%;
}

section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

section p {
  padding: 5px;
}

aside {
  display: flex;
}

aside .aside-items-logo {
  min-width: 310px;
}

.aside span,
.opt-mob > .aside-items-logo span {
  color: #9ffaa3;
  font-size: 12px;
  font-weight: 600;
  border-left: 10px solid #9ffaa3;
  padding-left: 10px;
  position: absolute;
}

.aside p {
  font-size: 13px;
}

.aside {
  display: flex;
  width: 100%;
  height: 115px;
  margin-left: 20px;
}

.aside > .aside-items-logo h2 {
  font-family: "Dancing Script";
  font-size: 80px;
  color: rgb(92, 226, 92);
}

.servicosResumidos {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  width: 200px;
  max-height: 325px;
  align-items: center;
  border: 1px solid gold;
  border-radius: 7px;
  margin: 5px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.servicosResumidos span {
  border-left: 5px solid goldenrod;
  padding-left: 10px;
  margin: 10px;
  margin-left: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.span-servicos {
  height: 50px;
  width: 100%;
  display: flex;
}

.servicosResumidos p {
  font-size: 11px;
}

.servicosResumidos img {
  width: 198px;
  height: 100px;
}

.resumidos-txt > ul > li {
  font-size: 66%;
  padding: 4px;
}

.titleServices {
  width: 100%;
  height: 55px;
  background: rgba(8, 29, 48, 0.6705882353);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.titleServices .fa-solid,
.titleServices .bi {
  font-size: 1rem;
  margin: 0;
  margin-right: 6px;
}

.contactTitle {
  margin-top: 20px;
}

.servicestTitle {
  margin-bottom: 20px;
}

.titleServices h2 {
  opacity: 1;
  color: #9ffaa3;
  text-transform: uppercase;
  font-size: 0.88rem;
}

.contents {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  border: 19px solid rgb(110, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(92, 226, 92);
  font-weight: 600;
}

article {
  position: relative;
  /*
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  */
}

#item-this {
  position: absolute;
  right: 0;
  top: 0;
  text-align: end;
  width: 100%;
  height: 100%;
  background-color: #9ffaa3;
  opacity: 0.9;
  z-index: -1;
  overflow: hidden;
}

#itema-this:not(:target),
#itema-this:not(:hover) {
  overflow: hidden;
}

#itemk-this:hover {
  overflow: visible;
  opacity: 1;
}

#item-this:target {
  opacity: 1;
  overflow: visible;
}

.bt-up {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 0;
  top: 87%;
  z-index: 1;
  margin: 10px;
  display: none;
}

.bt-up .bt-up-items {
  background-image: url("./assets/images/bt_up_dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.bt-up .bt-up-items:hover {
  background-image: url("./assets/images/bt_up_normal.png");
  opacity: 1;
  -webkit-animation: rotacao-btn-up 5s infinite;
          animation: rotacao-btn-up 5s infinite;
}

.footer {
  width: 100%;
  height: 390px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.footer-circle {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.jpg");
  background-position: bottom;
  background-size: 100%;
  opacity: 0.5;
  -webkit-clip-path: circle(33% at bottom right);
          clip-path: circle(33% at bottom right);
  transition: 0.8s ease-in-out;
  display: block;
}

.footer-circle:hover {
  opacity: 1;
}

.modale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  text-align: center;
  flex-direction: column;
}

dialog[open] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#modalDialog > form > button {
  padding: 20px 1px 0px 1px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

.svgX:hover {
  fill: rgb(92, 226, 92);
}

dialog::-webkit-backdrop {
  background-color: rgba(0, 30, 0, 0.7);
}

dialog::backdrop {
  background-color: rgba(0, 30, 0, 0.7);
}

dialog {
  position: relative;
  inset-block-start: auto;
  inset-block-end: auto;
  width: 65%;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
  opacity: 0.8;
  background: #000;
  color: #edeaef;
  font-size: 0.9rem;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.modalTitle {
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#modalDialog p {
  margin: 10px 0px 10px 0px;
  text-align: left;
}

.itens-servicos a {
  color: #9ffaa3;
  font-weight: 500;
}

.showServicesModal:hover {
  background: #385029;
  color: #fff;
}

@media screen and (max-width: 880px) {
  .footer-circle {
    display: none;
  }
  .footer {
    width: 100%;
    display: flex;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(3, 58, 21, 0.1), #385029), url("./assets/images/bg.jpg");
    background-position: right;
    border-top: 2px solid;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
  .footer h3 {
    padding: 10px;
    color: #fff;
    font-size: 14px;
  }
}
.bg-home {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opt-mob {
  display: none;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  border-bottom: 1px solid #9ffaa3;
  background-color: #9ffaa3;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1;
}

.listMob {
  border: 0;
  opacity: 0.7;
}

#navInicio > div > div.item-this > img {
  position: absolute;
  right: 0;
  top: 0;
}

.imgListMob {
  height: 1vh;
  min-width: 65px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background: transparent;
  background-size: 100% 70px;
  width: 100%;
}

.imgListMob img:hover,
.imgListMob div.dv:hover {
  cursor: pointer;
}

.imgListMob:hover {
  transition: 1.52s ease-out;
  background-color: #0c2135;
  background-image: linear-gradient(to bottom, #9efaa3, #9efaa3);
  background-size: 100% 70px;
  background-repeat: no-repeat;
  background-position: top;
  width: 56%;
}

.item-this p {
  color: #9ffaa3;
  font-size: 1.5rem;
  font-weight: 600;
}

.bi,
.fa-solid {
  margin-right: 45px;
  margin-left: 20px;
  color: #9ffaa3;
}

.dv {
  width: 100%;
  height: 65px;
  padding: 25px 0px 0px 15px;
  text-align: left;
  background-color: #0c2135;
  display: flex;
  flex-direction: row-reverse;
  opacity: 0.9;
  transition: 0.4s ease;
}

.dv-children-icon,
.dv-children-link {
  height: 70px;
}

.dv:hover {
  background-color: #06121e;
}

.opt-mob .aside-items-logo span {
  color: #0c2135;
  font-size: 11px;
  font-weight: 600;
  border-left: 10px solid #0c2135;
}

.opt-mob > .aside-items-logo h1 {
  color: #06121e;
  font-size: 2.5rem;
  margin-left: -3px;
  font-family: Arial, Helvetica, sans-serif;
}

.opt-mob img {
  width: 67px;
  position: relative;
}

.header-left img {
  width: 100px;
  height: 100px;
}

.header-left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-rigth {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-position: bottom;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("./assets/images/meioambiente.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 150% 0;
  opacity: 0.8;
}

.header {
  width: 100%;
  height: 165px;
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-site {
  width: 135px;
  margin-top: 1px;
}

#slider {
  width: 100%;
  max-width: 300px;
  height: 150px;
}

#slider img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 4s ease-in-out;
  cursor: pointer;
}

#slider img.selected {
  opacity: 1;
}

nav {
  width: 100%;
  border: 1px solid rgb(253, 253, 253);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #edeaef;
}

.header-social {
  border: 1px solid violet;
  display: flex;
  gap: 14px;
}

.header-social a:hover i {
  -webkit-animation: translateY 0.8s infinite alternate;
  animation: translateY 0.8s infinite alternate;
  color: #9ffaa3;
}

@-webkit-keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
nav .header-nav {
  gap: 0.7vh;
  display: flex;
  align-items: center;
  border: 1px solid rgb(11, 104, 148);
}

.header-button {
  border: 1px solid gold;
  border-radius: 10px;
  padding: 4px 18px;
  font-size: 0.66rem;
  color: #fff;
  background-color: transparent;
  transition: 0.8s;
}

.header-rigth .header-button a {
  color: #FFFFFF;
  font-weight: 100;
}

.header-rigth .header-button:hover {
  background: goldenrod;
}

.header-button:hover p {
  border-bottom: 2px solid #fff;
  border-bottom: 2px solid #9ffaa3;
}

article {
  border-radius: 0px;
  height: 350px;
  width: 100%;
  background-image: url("./assets/images/card1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form {
  margin-top: 0;
  border-radius: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section article .resumidos-txt {
  width: 50%;
  height: 100%;
}

section article .contactConsultora {
  width: 50%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contactConsultora > span > p,
.contactConsultora > .email {
  font-size: 0.7rem;
  font-weight: 600;
  color: #edbebe;
  text-align: left;
}

.contactConsultora img {
  border: 5px solid #06121e;
  border-radius: 50%;
  width: 190px;
  height: 190px;
}

.contactConsultora > p {
  font-size: 0.9rem;
}

section > article > .contactForm {
  display: flex;
  background-image: url("./assets/images/contato_compressed.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.resumidos-txt input {
  height: 40px;
  width: 80%;
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 5px;
  padding: 4px;
  margin-top: 15px;
}

.resumidos-txt textarea {
  height: 155px;
  width: 80%;
  margin-top: 15px;
}

.holder {
  width: 37%;
  text-align: left;
  margin-left: 7%;
  margin-top: 10px;
  font-size: 74.9%;
  position: absolute;
  padding-top: 18px;
  font-weight: 600;
  color: #fefbff;
}

#nomePlace,
#emailPlace,
#assPlace {
  height: 40px;
}

#msgPlace {
  height: 155px;
}

.info-items {
  display: flex;
  border: 0;
  border-radius: 0px;
  background: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), rgba(6, 18, 30, 0.7529411765));
  text-align: center;
  width: 100%;
  min-height: 350px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

section .contact-form button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #edeaef;
}

section .contact-form input,
section .contact-form textarea {
  background-color: #011d07;
  color: #9ffaa3;
  font-size: 1rem;
  opacity: 0.6;
  border: 0;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  letter-spacing: 0.1rem;
  border-left: 10px solid transparent;
  border-bottom: 1px solid #edeaef !important;
  border-top: 1px solid #edeaef !important;
  border-right: 1px solid #edeaef !important;
}

section .contact-form textarea {
  font-size: 17px;
  margin-bottom: 5px;
}

section .contact-form input:focus,
section .contact-form textarea:focus {
  border-left: 10px solid gold;
  opacity: 1;
}

article .button {
  padding: 14px;
  border: 1px solid #fff;
  font-size: 15px;
  border-radius: 15px;
  background-color: #011d07;
  transition: 0.8s ease-in;
}

article .button:hover {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
}

article a {
  color: #fff;
}

article > .info-items > .span-servicos span {
  text-align: center;
  font-size: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.divErrorItems {
  display: flex;
  width: 100%;
  background: radial-gradient(black, transparent);
}

.divErrorItems > .bi {
  margin: 0;
  margin-right: 10px;
  margin-left: 1%;
  font-size: 1rem;
}

article > .info-items > .resumidos-txt p {
  padding: 3px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 500;
}

.important,
.important a {
  font-weight: 600;
  padding: 0;
  color: #9ffaa3;
  text-decoration: none;
}

.resultForm {
  transition: all 0.8s ease-in-out;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.resultItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  background: #040f1a;
  border-radius: 14px;
  opacity: 1;
  border-left: 14px solid #9ffaa3;
  border-top: 1px solid #0c2135;
  border-right: 1px solid #0c2135;
  border-bottom: 1px solid #0c2135;
}

.resultItems .result-ok {
  font-weight: 600;
  color: #edbebe;
}

#formItems {
  transition: all 0.8s ease-in-out;
}

.animationModal {
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

.animationModalClose {
  -webkit-animation: fade-close 2s;
          animation: fade-close 2s;
}

@-webkit-keyframes fade {
  from {
    height: 1%;
  }
  to {
    height: 65%;
  }
}

@keyframes fade {
  from {
    height: 1%;
  }
  to {
    height: 65%;
  }
}
@-webkit-keyframes fade-close {
  from {
    height: 65%;
  }
  to {
    height: 1%;
  }
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-close {
  from {
    height: 65%;
  }
  to {
    height: 1%;
  }
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
.animationlogo {
  -webkit-animation: rotacao 8.5s infinite alternate;
          animation: rotacao 8.5s infinite alternate;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes rotacao {
  20%, 100% {
    transform: rotate(-720deg);
  }
  0% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes rotacao {
  20%, 100% {
    transform: rotate(-720deg);
  }
  0% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotacao-btn-up {
  20%, 50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotacao-btn-up {
  20%, 50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.container {
  display: grid;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  grid-template-areas: "headers headers" "main main" "footer footer";
  grid-template-columns: auto;
  grid-template-rows: 150px 1fr 145px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 96%;
}

@media screen and (max-width: 550px) {
  section {
    transition: 4s ease-in-out;
    justify-content: center;
  }
  .holder {
    margin-left: 14%;
  }
  .o-aside {
    display: none;
  }
  .aside {
    margin-left: 10%;
  }
  .aside h3 {
    font-size: 70px;
  }
  .header-logo {
    margin-left: 7%;
  }
  .opt-mob {
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
  }
  .header-rigth,
.header-left {
    display: none;
  }
  article {
    background-image: url(./assets/images/card_555.jpg) !important;
  }
  article .button,
section .contact-form .button {
    font-size: 10px;
    padding: 8px;
    border-radius: 10px;
  }
  footer {
    font-size: 80%;
  }
  dialog {
    width: 99%;
  }
}
@media screen and (max-width: 440px) {
  section > .servicosResumidos img {
    display: none;
  }
  section > .servicosResumidos,
.resumidos-txt {
    width: 100%;
  }
  .resumidos-txt > ul > li {
    padding: 10px;
  }
  section > .servicosResumidos > .span-servicos {
    height: 34px;
  }
  .opt-mob > .aside-items-logo h1 {
    font-size: 1.9rem;
    padding-top: 9px;
  }
  .opt-mob .aside-items-logo span {
    font-size: 10px;
  }
  .opt-mob img {
    width: 67px;
  }
  #item-this {
    height: 60px;
  }
  #item-this .imgListMob .dv {
    font-size: 0.8rem;
  }
  .imgListMob:hover {
    width: 70%;
    height: 46vh;
  }
}
@media screen and (max-width: 879px) {
  section {
    justify-content: center;
  }
  .holder {
    margin-left: 13%;
  }
  .o-header,
.bg-home {
    height: 70px;
  }
  .header-left img {
    width: 70px;
    height: 70px;
  }
  .contactForm {
    flex-direction: column-reverse;
    height: 100%;
  }
  article {
    background-image: url(./assets/images/card_879.jpg);
  }
  .contact-form,
section article .contactConsultora,
body > div > main > section > article > div > div.resumidos-txt {
    width: 100%;
    height: 100%;
  }
  .container {
    transition: 0.9s ease-in-out;
    grid-template-areas: "headers" "main" "footer";
    grid-template-rows: 70px 1fr 145px;
    grid-template-columns: auto;
  }
}
.o-header {
  grid-area: headers;
}

.o-main {
  grid-area: main;
}

.o-footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
}

section {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */